<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
    <h1>Middleware Testing</h1>

    <button hx-push-url=true hx-get="/new-instance" hx-target="body">New Instance</button>

    <hr>

    <form>
        <button hx-target="body" hx-post="/load-instance">Load Instance</button>
        <input type="text" name="hash" />
    </form>
</body>
