<body>
    <header>
        <table>
            <tr>
                <th>Hash</th>
                <th>E</th>
            </tr>
            <tr>
                <td>{{ .Id }}</td>
                <td>{{ .E }}</td>
            </tr>
        </table>
    </header>

    <main style="display: flex; flex-flow: column">
        {{ range .IData }}
        <section>
            <label for="{{ .Name }}">{{ .Name }}</label>
            <input id="{{ .Name }}" name="{{ .Name }}" value="{{ .Count }}" readonly />
            <Button hx-post="/manual" hx-target="#{{ .Name }}" hx-swap="outerHTML">Add</Button>
        </section>
        {{ end }}
    </main>

</body>
